<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <main>
            <div class="master-container">
                <article>
                    <div class="page">
                        <h1> Blog </h1>
                        {{ if .Site.Taxonomies.tags }}
                        Tags:
                        {{ range .Site.Taxonomies.tags }}
                        <a href="{{ .Page.Permalink }}" class="tag"> {{ .Page.Title }}
                            <span>
                                ({{.Count}})
                            </span> </a>
                        {{ end }}
                        {{ end }}

                        {{ with .Site.GetPage "section" "blog" }}
                        {{ .Content }}
                            {{ partial "blog-entry-list.html" .Pages }}
                        {{ end }}
                    </div>
                </article>
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
