<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <div class="master-container">
            <article>
                <div class="page">
                    {{ $content := readFile $.Site.Params.WelcomePath }}
                    {{ $content | markdownify }}
                </div>

                <div class="page">
                    {{ $content := readFile $.Site.Params.RecommendedPath }}
                    {{ $content | markdownify }}

                    <h3> Recommended </h3>
                    {{ with .Site.GetPage "section" "blog" }}
                        {{- range .Pages }}
                        {{ if .Params.recommended }}
                        <ul>
                            <img src="/icons/star.svg"/>

                            {{ $url := .RelPermalink }}
                            {{ $postfix := "" }}
                            {{ if isset .Params "forward"}}
                                {{ $url = .Params.Forward }}
                                {{ $postfix = "(outlink)"}}
                            {{ end }}

                            <a href="{{ $url }}">{{ .Title }}</a> {{$postfix }}
                            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                        </ul>
                        {{ end }}
                        {{ end }}
                        {{ end }}

                    <h3> Latest </h3>

                    {{ with .Site.GetPage "section" "blog" }}
                        {{- range first 5 .Pages }}
                        <ul>
                            {{ if .Params.recommended }}
                            <img src="/icons/star.svg"/>
                            {{ end }}

                            {{ $url := .RelPermalink }}
                            {{ $postfix := "" }}
                            {{ if isset .Params "forward"}}
                                {{ $url = .Params.Forward }}
                                {{ $postfix = "(outlink)"}}
                            {{ end }}
                            <a href="{{ $url }}">{{ .Title }}</a> {{$postfix }}
                            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                        </ul>
                        {{ end }}
                        {{ end }}

                </div>

                <div class="page">
                    {{ $content := readFile $.Site.Params.MiscPath }}
                    {{ $content | markdownify }}
                </div>
            </article>
            {{ partial "aside.html" . }}
        </div>
    </body>
<html>
