<html>
    {{ partial "head.html" . }}
    <body>
        <nav>
            <a href="/"> Home </a>
        </nav>
        <div class="master-container">
            <article>
                {{ range .Sections }}
                    <div class="page">
                        <h1> {{ .File.Dir }} </h1>
                        {{ .Content }}
                        <p>
                            {{- range .Pages }}
                            <ul>
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                                {{ $url := .RelPermalink }}
                                {{ $postfix := "" }}
                                {{ if isset .Params "forward"}}
                                    {{ $url = .Params.Forward }}
                                    {{ $postfix = "(outlink)"}}
                                {{ end }}
                                <a href="{{ $url }}">{{ .Title }}</a> {{
                                $postfix }}
                            </ul>
                            {{ end }}
                        </p>
                    </div>
                {{ end }}

                {{ with .Site.GetPage "projects" }}
                    <div class="page">
                        <h1> projects/ </h1>
                        <p> {{ .Content }} </p>
                    </div>
                {{ end }}
            </article>
            {{ partial "aside.html" . }}
        </div>
    </body>
<html>
