<html>
    {{ partial "head.html" . }}
    <body>
        <nav>
            <div class="menu">
                <a href="/{{ $.Site.Language }}"> {{ $.Site.Params.Menu.Home }}  </a>
            </div>

            <div class="languages">
                {{ range $key, $lang := $.Site.Languages }}
                    {{ if ne $key 0 }}
                        <span> | </span>
                    {{ end }}
                    {{ if eq $.Lang $lang.Lang }}
                    <a href="/{{ $lang.Lang }}" style="color: black"> {{ $lang.Lang }} </a>
                    {{ else }}
                    <a href="/{{ $lang.Lang }}"> {{ $lang.Lang }} </a>
                    {{ end }}
                {{ end }}
            </div>
        </nav>
        <div class="master-container">
            <article>
                    <div class="page">
                        <h1> Blog </h1>
                        {{ if .Site.Taxonomies.tags }}
                        Tags:
                        {{ range .Site.Taxonomies.tags }}
                        <a href="{{ .Page.Permalink }}" class="tag"> {{ .Page.Title }}
                            <span>
                                ({{.Count}})
                            </span> </a>
                        {{ end }}
                        {{ end }}

                        {{ with .Site.GetPage "section" "blog" }}
                        {{ .Content }}
                            <b> Recommended </b>
                            {{- range .Pages }}
                            {{ if not .Params.archive }}
                            <ul>
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                                {{ $url := .RelPermalink }}
                                {{ $postfix := "" }}
                                {{ if isset .Params "forward"}}
                                    {{ $url = .Params.Forward }}
                                    {{ $postfix = "(outlink)"}}
                                {{ end }}
                                <a href="{{ $url }}">{{ .Title }}</a> {{
                                $postfix }}
                            </ul>
                            {{ end }}
                            {{ end }}

                            <b id="archived"> Archived </b>
                            {{- range .Pages }}
                            {{ if .Params.archive }}
                            <ul>
                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                                {{ $url := .RelPermalink }}
                                {{ $postfix := "" }}
                                {{ if isset .Params "forward"}}
                                    {{ $url = .Params.Forward }}
                                    {{ $postfix = "(outlink)"}}
                                {{ end }}
                                <a href="{{ $url }}">{{ .Title }}</a> {{
                                $postfix }}
                            </ul>
                            {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>

                {{ with .Site.GetPage "projects" }}
                    <div class="page">
                        <h1> projects/ </h1>
                        <p> {{ .Content }} </p>
                    </div>
                {{ end }}
            </article>
            {{ partial "aside.html" . }}
        </div>
    </body>
<html>
