<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "nav.html" . }}
        <div class="master-container">
            <article>
                    <div class="page">
                        <h1> Blog </h1>
                        {{ if .Site.Taxonomies.tags }}
                        Tags:
                        {{ range .Site.Taxonomies.tags }}
                        <a href="{{ .Page.Permalink }}" class="tag"> {{ .Page.Title }}
                            <span>
                                ({{.Count}})
                            </span> </a>
                        {{ end }}
                        {{ end }}

                        {{ with .Site.GetPage "section" "blog" }}
                        {{ .Content }}
                            {{- range .Pages }}
                            <ul>
                                {{ if .Params.recommended }}
                                <img src="/icons/star.svg"/>
                                {{ end }}

                                {{ $url := .RelPermalink }}
                                {{ $postfix := "" }}
                                {{ if isset .Params "forward"}}
                                    {{ $url = .Params.Forward }}
                                    {{ $postfix = "(outlink)"}}
                                {{ end }}

                                <a href="{{ $url }}">{{ .Title }}</a> {{$postfix }}

                                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
                            </ul>
                            {{ end }}
                            {{ end }}
                    </div>
            </article>
            {{ partial "aside.html" . }}
        </div>
    </body>
<html>
