<aside class="side">
        <img
            class="author-image"
            src="{{.Site.Params.AuthorImage}}"/>

    <hr/>
        <center>
            <b> Uğur Erdem Seyfi </b>
        </center>
    <hr/>
    <div class="icon-container">
    {{ range .Site.Params.Connect }}
            {{ range $k, $v := . }}
                <a href="{{ $v }}" target="_blank">
                    <img class="icon hover" src="/icons/{{ $k }}.svg"/>
                </a>
            {{ end }}
    {{ end }}
    </div>
    <hr/>
        <div> {{ .Site.Params.Description }} </div>
    <hr/>
    {{ .Site.Params.Contact}}: <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    <hr/>
    <a class="source icon-container hover" href="{{ .Site.Params.Repo }}" target="_blank">
        <img class="icon" src="/icons/git.svg"/>
        Source Code
    </a>
</aside>
