{{- range . }}
{{ $pageUrl := .RelPermalink }}
<div class="blog-entry">
    <div class="blog-entry-content">
        {{ $url := .RelPermalink }}
        {{ $postfix := "" }}
        {{ if isset .Params "forward"}}
            {{ $url = .Params.Forward }}
            {{ $postfix = "(outlink)"}}
        {{ end }}

        <a href="{{ $url }}" class="blog-entry-title{{ if in .Params.tags "highlights" }} highlights{{ end }}">{{ .Title }}</a> {{$postfix }}

        {{ with .Summary }}
            <p class="blog-entry-description">{{ . | plainify | truncate 120 }}</p>
        {{ end }}

        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
    </div>
    {{ with .Params.images }}
        {{ $first := index . 0 }}
        {{ $img := $first }}
        {{ if not (hasPrefix $first "http") }}
            {{ $img = printf "%s%s" $pageUrl $first }}
        {{ end }}
        <img class="blog-entry-thumbnail" src="{{ $img }}" alt="">
    {{ end }}
</div>
{{ end }}
