<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Uğur Erdem Seyfi">
    <link rel="stylesheet" href="/style.css?v={{.Date.Unix}}">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/index.xml">
    <title> {{ if (isset .Params "title") }} {{ .Params.Title }} | {{ end }}
    rugu </title>

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <script data-goatcounter="https://stats.rugu.dev/count"
            async src="//stats.rugu.dev/count.js"></script>
</head>
