<header class="site-header">
    <a href="{{ .Site.Home.RelPermalink }}">
        <img class="header-author-image" src="{{.Site.Params.AuthorImage}}"/>
    </a>
    <div class="header-info">
        <a class="header-name" href="{{ .Site.Home.RelPermalink }}"><b>Uğur Erdem Seyfi</b></a>
        <div class="header-description">{{ .Site.Params.Description }}</div>
        <div class="header-links">
            {{ range .Site.Params.Connect }}
                {{ range $k, $v := . }}
                    <a href="{{ $v }}" target="_blank">
                        <picture>
                            <source srcset="/icons/dark/{{ $k }}.svg" media="(prefers-color-scheme: dark)"/>
                            <img class="icon hover" src="/icons/light/{{ $k }}.svg" alt="{{ $k }} icon"/>
                        </picture>
                    </a>
                {{ end }}
            {{ end }}
            <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
            <a class="source-link" href="{{ .Site.Params.Repo }}" target="_blank">
                <picture>
                    <source srcset="/icons/dark/git.svg" media="(prefers-color-scheme: dark)"/>
                    <img class="icon" src="/icons/light/git.svg" alt="git icon"/>
                </picture>
                Source
            </a>
        </div>
    </div>
</header>
