<aside class="side">
    <div>
        <img
            class="author-image"
            src="{{.Site.Params.AuthorImage}}"/>
    </div>
    <hr/>
        <div> {{ .Site.Params.Description }} </div>
    <hr/>
    <div>
        <div class="icon-container">
        {{ range .Site.Params.Connect }}
                {{ range $k, $v := . }}
                    <a href="{{ $v }}" target="_blank">
                        <img class="icon" src="/icons/{{ $k }}.svg"/>
                    </a>
                {{ end }}
        {{ end }}
        </div>

    </div>
    <hr/>
    <div>
        <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
    </div>
</aside>
