<html>
    {{ partial "head.html" . }}
    {{ if isset .Params "forward"}}
        <meta http-equiv="refresh" content="0; url={{.Params.Forward}}" />
    {{ end }}
    <body>
        {{ partial "nav.html" . }}
        <div class="master-container">
            <article>
                <div class="page">
                    <h1> {{ .Title }} </h1>
                    {{ if isset .Params "subtitle" }}
                        <h2>
                            {{ .Params.subtitle }}
                        </h2>
                    {{ end }}

                    {{ if isset .Params "date" }}
                        <i>
                        Written at {{ dateFormat "2006-01-02" .Params.date }}
                        {{ if isset .Params "updated" }}
                           - Updated at {{ dateFormat "2006-01-02" .Params.updated }}
                        {{ end }}
                        </i>
                    {{ end }}

                    {{ if isset .Params "discussions" }}
                        <div>
                        Discussions:
                        {{ range $key, $value := .Params.discussions }}
                            <a href="{{$value}}" target="_blank"> ({{ $key }}) </a>
                        {{ end }}
                        </div>
                    {{ end }}
                    <hr>
                    {{ .Content }}
                </div>
            </article>
            {{ partial "aside.html" . }}
        </div>
    </body>
<html>
